<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <servlet>
        <servlet-name>first</servlet-name>
        <servlet-class>com.mycompany.servlets.FirstServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>second</servlet-name>
        <servlet-class>com.mycompany.servlets.SecondServlet</servlet-class>
    </servlet>
    
<servlet>
	<servlet-name>myservlet</servlet-name>
	<servlet-class>com.mycompany.practice.MyServlet</servlet-class>
</servlet>

    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/first-web</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>second</servlet-name>
        <url-pattern>/second-web</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>myservlet</servlet-name>
        <url-pattern>/third-web</url-pattern>
    </servlet-mapping>
    
</web-app>
